{% extends 'base.html' %} {% block title %} Crear usuario {% endblock %} {% block content %}
<form method="POST">
    <label>Username</label>
    <input name="username" required />
    <label>Email</label>
    <input name="email" required />
    <label>Edad</label>
    <input name="edad" required />
    <label>Password</label>
    <input name="password" type="password" required />
    <label>Confirm Password</label>
    <input name="password2" type="password" required />
    <input type="submit" value="Guardar" />
</form>

{% endblock %}